[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/shaxbee/glfw.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = git@github.com:D31m05z/glm.git
[submodule "3rdparty/raspicam"]
	path = 3rdparty/raspicam
	url = git@github.com:D31m05z/raspicam.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = git@github.com:D31m05z/imgui
